body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.success-page {
  background-color: #ce2829;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.success-header {
  padding: 1rem;
  text-align: center;
}

.success-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lezzet {
  /* lezzetin yolda */

  font-family: "Satisfy";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  /* or 138% */

  color: #fdc913;
  padding: 1rem;
}
.sonuc {
  padding: 5rem;
  margin: 5rem;
  padding-bottom: 50px;

  /* div */

  box-sizing: border-box;

  border: 1px solid #faf7f2;
  border-radius: 6px;
}

.text-lezzet {
  /* SİPARİŞ Alındı */

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 86px;
  line-height: 92px;
  /* or 107% */
  text-align: center;

  text-transform: uppercase;

  color: #ffffff;
  /* Line 1 */
  border-bottom: 1px solid #faf7f2;
  padding-bottom: 100px; /* Altta boşluk */
}

.text-lezzet,
.lezzet {
  display: flex;
  align-items: center;
  text-align: center;
}
.position {
  /* Position Absolute Acı Pizza */

  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  /* or 134% */

  color: #ffffff;
  padding-top: 50px;
}
.siparis-ozet {
  /* Ek Malzemeler: Pepperoni, Sosis, Mısır, Ananas, Jalepeno* */

  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  /* or 155% */

  color: #ffffff;
  text-align: left;
}
.highlight {
  font-weight: bold; /* Koyu yazı */
  color: #ffffff; /* Beyaz renk */
}
